.codrops-header {
  position: relative;
  margin: 0 auto;
  padding: 40px 5px;
  text-align: center;
}
@media screen and (max-width: 46.0625em) {
  .codrops-header {
    margin-bottom: 0;
    padding-bottom: 1em;
  }
}
svg {
  pointer-events: none;
}
.drawings {
  position: relative;
  max-height: 600px;
}
.show {
  opacity: 1;
}
.hide {
  opacity: 0;
}
.line-drawing {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.line-drawing path {
  fill: none;
  stroke: white;
  stroke-width: 3;
}
.show, .hide {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.logo {
  position: relative;
  margin: 0 auto 30px;
  width: 80px;
  height: 80px;
  background: url(../img/codrops_logo.png) no-repeat 50% 50%;
}
svg.line-drawing {
  position: absolute;
  max-width: 100%;
  z-index: 10;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
svg.line-drawing path {
  fill: none;
  stroke-width: 2;
  stroke: #ddd;
}
svg.line-drawing path.darker {
  stroke: #aaa;
}

/* Positions */

#theLogo {
  top: 39px;
}
